################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MES/MES/obj
/MES/.vs/MES/v15/Server/sqlite3
/.vs
/MES/.vs/MES/v15/.suo
/MES/.vs/MES/v14/.suo
MES/MES/bin/Debug/MES.vshost.exe.manifest
